{% import "components.njk" as ui %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/style/style.css' | url}}">

  <!-- TODO: Move to an external script -->
  <script>
    function toggleDarkMode (e) {
      e.preventDefault();
      document.getElementsByTagName("html")[0].classList.toggle("dark");
      document.getElementsByClassName("toggle-dark")[0].classList.toggle("active");
      document.getElementsByClassName("toggle-light")[0].classList.toggle("active");
    };
  </script>
</head>
<body>

  <header>
    <div class="header-wrapper">
      <h1 id="header-logo">
        <a href=" {{ '/' | url }}" class="logo-link">{% feather "terminal" %} IT115: Team 1</a>
      </h1>

      <ul class="main-nav">
        <li class="main-nav-list-item">
          <a class="main-nav-link {{ 'active' if '/John' in page.url  }}" href="{{ '/John/' | url }}">John's Page</a>
        </li>        
        <li class="main-nav-list-item">
          <a class="main-nav-link {{ 'active' if '/Karen' in page.url  }}" href="{{ '/Karen/' | url }}">Karen's Page</a>
        </li>
        <li class="main-nav-list-item">
          <a class="main-nav-link {{ 'active' if '/Ayla' in page.url  }}" href="{{ '/Ayla/' | url }}">Ayla's Page</a>
        </li>
        <li class="main-nav-list-item">
          <span class="main-nav-control">{% feather "github" %}</span>
        </li>
        <li class="main-nav-list-item">
          <span class="main-nav-control toggle-dark active" onClick="toggleDarkMode(event)">{% feather "moon" %}</span>
          <span class="main-nav-control toggle-light" onClick="toggleDarkMode(event)">{% feather "sun" %}</span>
        </li>
      </ul>
    </div>
  </header>

  <div id="content">
    {{ content | safe }}
  </div>

  <footer>
    <p>
      Created in 2022 for IT115 at <a href="">North Seattle College</a>
    </p>
  </footer>
</body>
</html>
